<div>
  <h2 id="page-heading" data-cy="ZonePestHeading">
    <span>Afectación zona</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-zone-pest"
        [routerLink]="['/zone-pest/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Crear nueva afectación de zona </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="zonePests?.length === 0">
    <span>No hay afectaciones registradas</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="zonePests && zonePests.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <!--<fa-icon class="p-1" icon="sort"></fa-icon>-->              
            </div>
          </th>          
          <th scope="col" jhiSortBy="zoneId.id">
            <div class="d-flex">
              <span>ID zona</span>              
            </div>
          </th>
          <th scope="col" jhiSortBy="createdat">
            <div class="d-flex">
              <span>Nombre zona</span>
              <!--<fa-icon class="p-1" icon="sort"></fa-icon>-->
            </div>
          </th>
          <th scope="col" jhiSortBy="pestId.id">
            <div class="d-flex">
              <span>ID plaga</span>              
            </div>
          </th>

          <th scope="col">
            <div class="d-flex">
              <span>Nombre plaga</span>              
            </div>
          </th>
          
          <!--<th scope="col" jhiSortBy="updatedat">
            <div class="d-flex">
              <span>Updatedat</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>-->
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let zonePest of zonePestCustom" data-cy="entityTable">
          <td>
            <a [routerLink]="['/zone-pest', zonePest.id, 'view']">{{ zonePest.id }}</a>
          </td>          
          <td>
            <div *ngIf="zonePest.zoneId">
              <a [routerLink]="['/zone', zonePest.zoneId, 'view']">{{ zonePest.zoneId}}</a>
            </div>
          </td>
          <td>
            <div *ngIf="zonePest.zoneName">
              {{ zonePest.zoneName}}
            </div>
          </td>          
          <td>
            <div *ngIf="zonePest.pestId">
              <a [routerLink]="['/pest', zonePest.pestId, 'view']">{{ zonePest.pestId }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="zonePest.pestName">
              {{ zonePest.pestName}}
            </div>
          </td>
          <!--<td>{{ zonePest.createdat | formatMediumDatetime }}</td>-->
          <!--<td>{{ zonePest.updatedat | formatMediumDatetime }}</td>-->
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/zone-pest', zonePest.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/zone-pest', zonePest.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Editar</span>
              </button>

              <button type="submit" (click)="deleteOneZonePest(zonePest.id)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="zonePests && zonePests.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
